* {
  margin: 0;
  padding: 0;
  background-color: aqua;
}
h1 {
  margin: auto;
  text-align: center;
  margin-top: 2%;
}
@media screen and (max-width: 500px) {
  .screen {
    height: 60px;
    margin: 5px auto;
    width: 95%;
    background-color: darkseagreen;
    border-radius: 20px;
  }
  .cal {
    height: auto;
    min-height: auto;
    width: 80vw;
    border: 2px solid red;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    border-radius: 20px;
  }
}
@media screen and (max-width: 750px) and (min-width: 500px) {
  .screen {
    height: 60px;
    margin: 5px auto;
    width: 95%;
    background-color: darkseagreen;
    border-radius: 20px;
  }
  .cal {
    height: auto;
    min-height: auto;
    width: 60vw;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 750px) {
  .cal {
    height: 50vh;
    width: 30vw;
    border: 2px solid red;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    border-radius: 20px;
  }
  .screen {
    margin: 5px auto;
    height: 80px;
    width: 95%;
    border-radius: 20px;
    background-color: darkseagreen;
  }
}
.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.values {
  border-radius: 40%;
  margin: 10px;
  padding: 5px;
  border: 2px solid red;
  text-align: center;
  font-weight: bold;
}
#last {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.cal,
.section {
  background-color: red;
}
#screen{
  box-sizing: border-box;
  text-align: center;
  overflow:auto;
  padding: 10px;
  padding-top: 25px;
}
